extends layout

block content

    .hero-unit
        h1 supFarm, the utimate farm simulator
        p
            | Create and manage a farm (growing, harvesting, ...) and try to extend it as much as YOU can ! Involve territory management, conquest and defense and alliance. Let's grow this damned corn boy !
        p
            a.btn.btn-primary.btn-large(href='/signUp') Create an account »
        p
            a.btn.btn-primary.btn-large(href='/login') Login »
