doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/supfarm.css')

        script(src='/socket.io/socket.io.js')
        script
            var igeRoot = '/engine/';
        script(src='/engine/loader.js')
    body
        div.navbar.navbar-inverse.navbar-fixed-top
            div.navbar-inner
                div.container
                    button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.brand(href='/') supFarm
                    .nav-collapse.collapse
                        ul.nav
                            li
                                a(href='/logout') Logout
                            li(class='dropdown')
                                a(class="dropdown-toggle", id='dropBuildings', data-toggle='dropdown', data-target='#') Buildings
                                    b(class='caret')
                                ul(class='dropdown-menu', role='menu', aria-labelledby='dropBuildings')
                                    li
                                        a(class="build-silo")
                                            span Silo
                                    li
                                        a(class="build-barn")
                                            span Barn
                                    li
                                        a(class="build-cold")
                                            span Cold Storage
                            li(class="dropdown")
                                a(class='dropdown-toggle', id='dropGrowings', data-toggle='dropdown', data-target='#') Growings
                                    b(class='caret')
                                ul(class='dropdown-menu', role='menu', aria-labelledby='dropGrowings')
                                    li
                                        a(class="grow-tomatoes")
                                            span Tomatoes
                                    li
                                        a(class="grow-corn")
                                            span Corn
                                    li
                                        a(class="grow-wheat")
                                            span Wheat
                        ul.nav.pull-right
                            li(class="level")
        div.container
            block content

        block scripts
            script(src='/javascripts/jquery.js')
            script(src='/javascripts/bootstrap.js')