extends layout

block content

    .hero-unit
        form(method='post').form-signin
            h1.form-signin-heading Please sign in
            input.input-block-level(type='text', name='first_name', placeholder='Firstname...')
            input.input-block-level(type='text', name='last_name', placeholder='Lastname...')
            input.input-block-level(type='text', name='email', placeholder='Email...')
            input.input-block-level(type='text', name='age', placeholder='Age...')
            input.input-block-level(type='password',name='password', placeholder='Password')
            select.input-block-level(name='difficulty', placeholder='Difficulty')
                option(value='Normal') Normal
                option(value='Hard') Hard
            label.checkbox
                input(type='checkbox', value='remember-me')
                | Remember me
            button.btn.btn-large.btn-primary(type='submit') Sign in
